body {
    margin: 0;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
nav {
    display: flex;
    background-color: #200e3d;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

}

nav ul {
    display: flex;
    align-items: center;
    padding: 0 10%;
    list-style: none;
    
}

nav ul li a {
    font-size: 16px;
    padding: 0px 15px;
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

nav ul li a:hover {
    transition: 0.2s;
    color: #52C5FF;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero {
    padding-top: 100px;
}

.hero img {
    border-style: none;
    border-radius: 10%;
    margin: 0 auto;
    max-width: 440px;
    display: block;
}

h1,h2 {
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 30px 0 px 100px;
}



.aboutme {
    width: 90%;
    max-width: 1100px;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 40px 50px 70px;
    margin: 0 auto;
    box-shadow: 10px 10px 0px rgb(0 0 0 /40%), -10px -10px 0px rgb(225 114 114 /80%);
    
}

.aboutme-section {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.aboutme-image {
    height:450px;
    width: 400px;
    background-image: url("../PortFolio/aboutmeimage.png");
    background-size: cover;
    background-position: center;
}

.aboutme-text {
    height: auto;
    width: 40%;
    margin-left: 40px;
    text-align: left;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project h2 {
    text-align: center;
    color: white;
    margin: 50px;
}
.project h2:hover {

}

.project1, .project2 {
    background-color: #6f86d6;
    height: 700px;
    width: 400px;
    margin: 50px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 10px 10px 0px rgba(38, 162, 193, 0.4), -10px -10px 0px rgba(9, 53, 71, 0.8);

    
}
.project1 {
    padding-left: 40px;
}
.project2 {
    padding-right: 40px;
}

#earth {
    height: 400px;
    width: 400px;
    padding: 20px;
}

/* CSS */
.project a {
    text-decoration: none;
    text-align: center;
}
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.contact {
    width: 100%;
    height: auto;
    padding: 75px 0 50px 0;
    text-align: center;

}

.contact p {
    margin-bottom: 50px;
}

.contact h2, .contact p {
    color: #FFFFFF;
}

.contact-form {
    max-width: 800px;
    display: flex;
    text-align: left;
    max-height : 1100px;
    margin: 0 auto;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 9px;
}

.message {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.message textarea {
    border-radius: 5px;
    border: 0px;
}

.contact-details {
    flex: 1;
    margin-right: 50px;
}

.contact-details input {
    width: 200px;
    border-radius: 5px;
    border: 0px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.message button {
    color: #200e3d;
    border: 0;
    border-radius: 5px;
    background: #0093E9;
    width: 140px;
    height: 50px;
    margin-top: 40px;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

}

.message button:hover {
    background: black;
    color: white;
    transition: 0.2s;
}

footer {
    height: 90px;
    background-color: #17759C;
}

footer .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.social-media {
    font-size: 200%;
    width: auto;
    margin-left: auto;
}

.social-media a i {
    color: white;
    transition: 0.2s;
}

.social-media a i:hover {
    color: lightblue;
    transition: 0.2s;
}

.copyright {
    color: white;
}